.header {
    height: 2em;
    background: linear-gradient(#999999, #cccccc);
    text-align: center;
}

body {
    margin: 0;
    font-family: 'Arvo', serif;
}

.bio {
    background-image: url("./hero-mobile.jp2");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    min-width: 100%;
    width: 100%;
    height: 100vh;
}

@media (min-width: 1080px) {
    .bio {
        background-image: url("./hero.jp2");
    }
}

img {
    max-width: 100%;
    height: auto;
}

.coverText {
    color: white;
}