.header {
    height: 2em;
    background: linear-gradient(#999999, #cccccc);
    text-align: center;
}

body {
    margin: 0;
    font-family: 'Arvo', serif;
}

.bio {
    background-image: url("./hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: fixed;
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    height: auto;
}

img {
    max-width: 100%;
    height: auto;
}

.coverText {
    color: white;
}